{% extends 'base.html.twig' %}

{% block body %}
    <section class="formularios">
        <h2 class="titulo-form">Ingrese nueva noticia:</h2>

        {{ form_start(form) }}  
            {{ form_widget(form) }}
            <input class="btn" type="submit" value="Crear noticia" />
        {{ form_end(form) }}

        <!-- <ul>
            <li>
                <a href="{{ path('noticia_index') }}">Back to the list</a>
            </li>
        </ul> -->
    </section>
{% endblock %}
