{% extends 'base.html.twig' %}

{% block body %}
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	</head>
	<header id="cabecera">
		<h1>Cartelera Virtual - Facultad de Cs. Médicas</h1>
	</header>

	<div class="row">
		<div class="col-md-4">
			<h2 class="titulo-catedras-home"><i class="fas fa-list-ul"></i> Cátedras</h2>
	    </div>
	    <div class="col-md-8">
	    	<h2 class="titulo-noticias-home">Noticias institucionales <i class="fas fa-bullhorn"></i></h2>

			{% for noticia in noticias %}
				<section class="jumbotron">
			            <h6 class="titulo-noticia">{{ noticia.titulo }}</h6>
			            {{ noticia.bajada }}
			            {{ noticia.contenido }}
			            {{ noticia.firmante }}	    
		        </section>
		    {% endfor %}
	    </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
body{
	background-color: #eee;
}
#cabecera{
	background-color: #191F2E;
	height: 90px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.jumbotron{
	margin: 5%;
}
.titulo-noticias-home, .titulo-catedras-home{
	margin: 5%;
	border-bottom: solid 5px black;
}
.titulo-catedras-home{
	padding-top: 5%;
}
.titulo-noticia{
	font-weight: bold;
}
</style>
{% endblock %}
