{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
	<section class="formularios">
       	<h2 class="titulo-form">Registrar usuario:</h2>
   		{% include "@FOSUser/Registration/register_content.html.twig" %}
   	</section>

   <!-- <small class="pull-right"><a href="{{ path('fos_user_security_login') }}">login existing account?</a></small> -->
{% endblock fos_user_content %}