{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etiqueta creation</h1>

    {{ form_start(visar_form) }}
        {{ form_widget(visar_form) }}
        <input type="submit" value="Create" />
    {{ form_end(visar_form) }}

    <ul>
        <li>
            <a href="{{ path('etiqueta_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}