@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
	background-color: #eee;
	font-family: 'Montserrat', sans-serif;
}
#cabecera{
	background-color: #191F2E;
	height: 90px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.jumbotron{
	margin: 5%;
}
.titulo-noticias-home, .titulo-catedras-home{
	margin: 5%;
	border-bottom: solid 5px black;
}
.titulo-catedras-home{
	padding-top: 5%;
}
.titulo-noticia{
	font-weight: bold;
}
.formularios{
	margin: 5% 20% 5% 20%;
	width: 60%;
}
.formularios .form-control{
	width: 40%;
}
.titulo-form{
    width: max-content;
}