@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
	background-color: #eee;
	font-family: 'Montserrat', sans-serif;
	background-image: url("../fondo4.jpg");
}
header{
	background-color: #191F2E;
	height: 115px;
	padding-left: 2%;
	padding-right: 2%;
}
nav{
	background-color: #fff;
	height: 40px;
}
nav .nav-link{
	color: #000;
}
/*div{ //ESTO ROMPE LAS TABLES RESPONSIVE - HAY QUE DELIMITARLO
	word-break: break-all;
}*/
h6{
	font-weight: bold;
}
.logo-medicina{
	width: 7%;
}
.logo-unlp{
	width: 18%;
}
header a, header a:hover{
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	width: 25%;
	line-height: 1;
	padding-left: 1%;
	word-break: normal;
}
header>div{
	width: 84%;
}
.home{
	margin-left: 2%;
	margin-right: 2%;
}
.home table{
	margin: 0 5% 2% 5%;
	width: 90%;
}
.home table a{
	color: #000;
	font-size: 18px;
	padding-left: 2%;
}
.jumbotron{
	margin: 5%;
	background-color: rgba(248, 248, 255, 0.9);
	padding: 2rem 2rem;
	border-radius: 0;
	border: 1px solid;
}
.titulo-noticias-home, .titulo-catedras-home{
	margin: 5%;
	border-bottom: solid 4px black;
	font-weight: bold;
}
.titulo-catedras-home{
	padding-top: 5%;
}
.titulo-noticia, .titulo-publicacion{
	font-size: 25px;
	font-weight: bold;
}
.titulo-noticia a{
	color: #191F2E;
	text-decoration: underline;
}
.titulo-publi a{
	color: #191F2E;
	font-weight: bold;
}
.formularios{
	margin: 2% 20% 5% 20%;
	width: 60%;
}
.formulario-visado{
	margin: 2% 10% 5% 10%;
}
.table th{
	border-top: none;
}
.table td{
	vertical-align: inherit;
}
.tablas{
	margin: 2% 5% 5% 5%;
}
.tablas table{
	width: 100%;
	margin-top: 2%;
}
.tablas table td, .tablas table th{
	border-bottom: 2px solid #191F2E;
	padding: 1rem;
}
.formulario-login{
	margin: 3% 35% 3% 35%;
}
.formulario-login label{
	font-size: 16px;
}
.formularios .form-control{
	width: 40%;
}
h2.titulo-form, h3.titulo-tabla, .formulario-visado .col-form-label{
    margin-bottom: 1%;
    font-weight: bold;
}
.formulario-visado .col-form-label{
	font-size: 24px;
}
input.btn, a.btn{
	background-color: #191F2E;
	color: #fff;
	font-weight: bold;
	border-radius: 0;
}
input.btn:hover, a.btn:hover{
	opacity: 0.9;
}
.nombre-catedra{
	font-weight: bold;
	margin: 3% 0 2% 0%;
}
.nombre-mi-catedra{
	font-weight: bold;
	margin: 3% 0 2% 5%;
}
.info-catedra{
	margin: 1% 0 0 5%;
}
.opcion, .nombre-catedra{
	display: inline-block;
}
.publicaciones .jumbotron{
	border-radius: 0;
	padding: 3%;
	background-color: rgb(248, 248, 255);
}
.publicaciones .jumbotron>div:last-child{
	padding: 3%;
}
.publicaciones .col-md-4{
	margin: 0;
}
.publicaciones{
	margin-left: 3%;
	margin-right: 3%;
}
.header-publicacion,
.header-noticia{
	border-bottom: 1px solid #191F2E;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}
.header-publicacion p,
.header-noticia p{
	margin: 0;
}
.nombre-catedra i, .nombre-catedra a{
	font-size: 20px;
}
.fa-edit:before, a.opcion{
	color: #449d44;
}
.nombre-usuario{
	font-weight: bold;
	text-transform: uppercase;
}
.buscador{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5%;
}
.publicaciones ul{
	padding-left: 1rem;
}
.publicaciones ul li{
	display: inline-block;
}

input#appbundle_publicacion_archivo.form-control,
input#appbundle_noticia_archivo.form-control{
	padding: 0;
	height: auto;
	width: auto;
}
.etiquetas{
	display: flex;
	justify-content: space-around;
	margin: 3% 55% 3% 5%;
}
a.btn-etiqueta{
	background-color: #fff;
	padding: 0.5% 2% 0.5% 1%;
	color: #191F2E;
	font-weight: bold;
	border-radius: 1px;
	border: 1px solid;
}
a.btn-etiqueta:hover{
	opacity: 0.8;
}

.check-email,
.pagina-error{
	margin: 5%;
    padding: 5%;
    text-align: center;
    opacity: 0.8;
    background-color: #fff;
}
.check-email h4,
.pagina-error h4{
	opacity: 1;
	font-weight: bold;
}
.pagina-error h4{
	color: red;
}
.fa-trash-alt{
	color: red;
}
.btn-visado{
	margin-top: 3%;
}
.publicacion-visado a{
	color: #191F2E;
}
.publicacion-visado a:hover{
	text-decoration: underline;	
}
a.archivo{
	color: #191F2E;	
	font-weight: bold;
}
.fa-exclamation-triangle,
.fa-exclamation-circle{
	padding-right: 1%;
}
.btn-iniciar-sesion{
	font-weight: bold;
	font-size: 14px;
}
.añadir-publicacion{
	margin-top: 3%;
	padding-left: 5%;
}

@media (max-width: 768px) {

	.row{
		flex-direction: row-reverse;
	}
	header{
		height: 200px;
	}
	header a{
		width: 40%;
	}
	.logo-unlp{
		width: 30%;
	}
	.logo-medicina{
		width: 15%;
	}
	.formularios .form-control{
		width: 100%;
		height: 3rem;
	}
	.form-group{
		font-size: 30px;
	}
	h2.titulo-form{
		font-size: 38px;
	}
	input.btn{
		font-size: 22px;
		margin-top: 2%;
	}
	.formulario-login label {
    	font-size: 28px;
	}
	.nav-link {
	    display: block;
	    padding: 0.1rem 0.3rem;
	}
	a.nav-link{
		font-size: 12px;
		font-weight: bold;
	}
	.titulo-catedras-home {
	    padding-top: 2%;
	    font-size: 45px;
	}
	.titulo-noticias-home{
		font-size: 45px;
	}
	.buscador>input{
		height: 3rem;
	}
	.home table a{
		font-size: 25px;
	} 
	.fecha-noticia{
		margin-bottom: 2%;
	}
	.bajada-noticia{
		font-size: 18px;
	}
	.contenido-noticia{
		font-size: 20px;
	}
	a.btn-etiqueta{
		padding: 1.5% 2% 1.5% 1%;
    	font-size: 20px;
	}
	.formulario-login {
	    margin: 10% 5% 3% 5%;
	}
	.formulario-login label {
    	font-size: 20px;
	}
	.etiquetas{
		margin-right: 20%;
	}
}
@media (max-width: 480px){
	.etiquetas {
	    margin-right: 0%;
	    margin-left: 0%;
	}
	header{
		height: 100px;
	}
	.logo-unlp{
		width: 35%;
	}
	.logo-medicina{
		width: 20%;
	}
	.info-catedra{
		margin: auto;
	}
	.etiquetas{
		margin-right: 0%;
	}
	a.btn-etiqueta{
		font-size: 13px;
	}
	header a {
	    width: 100%;
	    font-size: 20px;
	}
	.titulo-catedras-home {
	    padding-top: 2%;
	    font-size: 32px;
	}
	.titulo-noticias-home{
		font-size: 32px;
	}
	.home table a{
		font-size: 20px;
	}
	.formularios {
	    margin: 2% 0% 5% 10%;
	    width: 85%;
	}
	nav{
		height: 25px;
	}
	h3.label-visado{
		font-size: 18px;
		font-weight: bold; 
	}
	h2.titulo-form {
	    font-size: 25px;
	}
	.form-group {
	    font-size: 18px;
	}
	.nombre-catedra,
	.nombre-mi-catedra{
		font-weight: bold;
		margin: 3% 0 3% 3%;
	}
	.añadir-publicacion{
		padding-left: 3.5rem;
	}
}
