{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<div class="container check-email">
		<h4>Se le ha enviado un e-mail con el link para acceder al cambio de contraseña, el link enviado tiene una validez de 24hs.</h4>
	</div>
{% endblock %}
